ENABLE_DEBUG=true
TASK_ID =[203,202]
SKIP_TASKS =[]

# TYPE_CAPTCHA Valid value: 2captcha, anticaptcha, monstercaptcha
TYPE_CAPTCHA="xxx" 
API_KEY_CAPMONSTER="xxx"  
API_KEY_2CAPTCHA="xxx"  
API_KEY_ANTI_CAPTCHA="xxx"

USE_PROXY=false
MAX_THEADS=5
MAX_THEADS_NO_PROXY=1

REF_CODE="xxx"
AUTO_FAUCET=false
AUTO_CHECKIN=false
AUTO_QUESTS=false

AUTO_SEND=false
NUMBER_SEND=1
AMOUNT_SEND=[0.0001,0.00022]

AUTO_WRAP=false
AUTO_UNWRAP=false
NUMBER_WRAP_UNWRAP=2
AMOUNT_WRAP_UNWRAP=[0.1,1]

AUTO_SWAP=false
NUMBER_SWAP=1
AMOUNT_SWAP=[1,3]

AUTO_LIQUIDITY=false
NUMBER_LIQUIDITY=1
AMOUNT_LIQUIDITY = [1, 1]  

AUTO_SWAP=false
NUMBER_SWAP=1
AMOUNT_SWAP=[1,3]

AUTO_COLLECT_NFTs=false

#-----------------

DELAY_BETWEEN_REQUESTS=[15, 30]
DELAY_TASK=[1,1]
DELAY_START_BOT=[15,20]
TIME_SLEEP=1441

######### ignore this
VERSION=v3.1
BASE_URL="https://api.pharosnetwork.xyz"
RPC_URL="https://atlantic.dplabs-internal.com"
CHAIN_ID="688689"
EXPLORER_URL="https://atlantic.pharosscan.xyz/"
CAPTCHA_URL="https://testnet.pharosnetwork.xyz/" # Default value
WEBSITE_KEY="6Lfx1iwrAAAAAJp_suDVjStYCUs0keW8tQ722uZR" # Default value